---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
const { post } = Astro.props;
const images = import.meta.glob<{default: ImageMetadata}>('/src/pages/posts/images/*.*');
---
   
<a href={post.url}>
    <article class="blog-post flex flex-col my-5 bg-white rounded-xl w-2xl max-2xl:w-auto shadow-lg">
        {post.frontmatter.cover && (
            <div class="border-b border-gray-200">
                <Image 
                    class="rounded-t-xl h-50 object-contain m-auto" 
                    src={images[post.frontmatter.cover]()} 
                    alt="blog post image"
                />
            </div>
        )}
        <h1 class="text-xl font-semibold p-3">{post.frontmatter.title}</h1>
        <p class="px-3">{post.frontmatter.description}</p>
        <div class="flex flex-row p-3 text-xs text-gray-500">
            <p class="flex-1">发布于{post.frontmatter.pubDate.toString().slice(0,10)}</p>
            {
                post.frontmatter.tags.map((tag) => (
                    <p class="flex-none mx-1">{tag}</p>
                ))
            }
        </div>
    </article>
</a>