---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <h1 class="font-bold text-4xl">{frontmatter.title}</h1>
  <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <div class="tags flex flex-wrap">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="tag p-2 m-1 rounded-lg bg-sky-400/20 hover:bg-sky-700/35">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <div class="
          prose 
          max-w-full 
          sm:max-w-prose 
          mx-auto 
          text-pretty 
          prose-inline-code:rounded-lg
          prose-inline-code:bg-gray-200
          prose-inline-code:px-2
          prose-inline-code:py-1
          prose-code:before:hidden 
          prose-code:after:hidden">
    <slot />
  </div>
</BaseLayout>

